@import "variables.scss";

@font-face {
  font-family: "Fipps";
  src: url(../fonts/Fipps.otf);
}

@font-face {
  font-family: "Free Pixels";
  src: url(../fonts/FreePixel.ttf);
}

@font-face {
  font-family: "Blocko";
  src: url(../fonts/Blocko.ttf);
}