// Font variables
$font-bold: "Arcade", Monaco, consolas, sans-serif;
$font-light: "Free Pixel", Monaco, consolas, sans-serif;
$font-block: "Blocko", Monaco, consolas, sans-serif;

// Color variables
$purple: #c900b4;
$yellow: #ffff00;
$black: #000000;
$white: #ffffff;