<section ng-controller="QuestionController as controller">
	<header> The Wisest Game </header>
	<span ng-init="controller.checkSomeQuestion();">
		<main  ng-if="controller.currentQuestion">
			<div class="question-text" ng-cloak>
				{{controller.currentQuestion.description}}
				<code
					class="question-code"
					ng-if="controller.currentQuestion.code"
					ng-bind="controller.currentQuestion.code"
				></code>
			<div>
				Options:
			</div>
			<ul>
				<li
					ng-repeat="option in controller.currentQuestion.options"
					ng-bind="option"
					ng-click="controller.sendAnswer(option);"
					ng-disabled="!controller.pendingAnswer"
				></li>
			</ul>
			Time : <span>{{controller.currentQuestion.duration}}</span>
			Leveu : <span>{{controller.currentQuestion.level}}</span>
			Theme : <span>{{controller.currentQuestion.theme}}</span>
			</div>
	
			<div class="question-options" ng-if="!controller.currentResponse">
			</div>
			<!-- TO REFACTORY -->
			<div class="question-options">
				<span
					ng-bind="controller.currentResponse.message"
					ng-class="{
						'success': controller.currentResponse.success,
						'error': !controller.currentResponse.success
					}"></span>
				<button ng-click="controller.everyThingIsOk(controller.currentQuestion._id);"> Everything  is ok! </button>
				<button ng-click="controller.nextQuestion();"> There is something wrong! </button>
			</div>
		</main>
	</span>
</section>