
<span data-ng-include="'/modules/main/template/sidebar.html'"></span>
<header class="login-header"> The Wisest Game </header>
<section  class="login" ng-controller="QuestionController as questionCtrl">
     <form class="login-form" autocomplete="off" ng-init="questionCtrl.inEditMode();">     
     
        <div class="login-field" game-login-field>
            <label>Description</label>
            <textarea ng-model="questionCtrl.question.description" name="description"></textarea>
        </div>
        <div class="login-field" game-login-field>
            <label>Code</label>
            <textarea ng-model="questionCtrl.question.code" name="code"></textarea>
        </div>
        <div class="login-field" game-login-field>
            <label>Option A</label>
            <input type="text" class="form-control" ng-model="questionCtrl.question.options[0]" name="firstOption">
        </div>
        <div class="login-field" game-login-field>
            
        </div>
        <div class="login-field" game-login-field>
            <label>Option C (Optional)</label>
            <input type="text" class="form-control" ng-model="questionCtrl.question.options[2]" name="thirdOption">
        </div>
        <div class="login-field" game-login-field>
            <label>Option D (Optional)</label>
            <input type="text" class="form-control" ng-model="questionCtrl.question.options[3]" name="fourthOption">
        </div>

        <div class="login-field" game-login-field>
            <label>Answer</label>
            <select name="theme" id="theme"
                  ng-options="option as option for option in questionCtrl.question.options"
                  ng-model="questionCtrl.question.answer"></select>
        </div>

        <div class="login-field" game-login-field
            <label>Level</label>
            <select name="level" id="level" 
            ng-options="level._id as level.name for level in questionCtrl.levels" 
            ng-model="questionCtrl.question.level"
            >
            </select>
        </div>

        <div class="login-field" game-login-field>
            <label>Difficulty</label>
            <input type="text" class="form-control" ng-model="questionCtrl.question.difficulty" name="difficulty">
        </div>

        <div class="login-field" game-login-field>
            <label>Duration</label>
            <input type="text" class="form-control" ng-model="questionCtrl.question.duration" name="duration">
        </div>

        <div class="login-field" game-login-field>
            <label>Theme</label>
            <select name="theme" id="theme"
                  ng-options="theme._id as theme.name for theme in questionCtrl.themes track by theme._id"
                  ng-model="questionCtrl.question.theme"></select>
        </div>

        <!-- <div>             -->
            <button class="login-button" type="button" ng-click="questionCtrl.persist('$save');">Save</button>
            <button class="login-button" type="button" ng-click="questionCtrl.backToList();">Cancel</button>
        <!-- </div> -->
    </form>

</section>    
