<section ng-controller="GameController as gameCtrl">

	<header> The Wisest Game </header>

	<aside class="team-one">

		<div class="team-info">
			<span class="team-name"> Single player </span>
			<span class="team-score"> 32768 </span>
		</div>

		<div class="player player-1">
			<img class="player-image" src="./assets/images/airtoncbr.png"><!-- Inline block issue
			--><div class="player-info">
				<span class="player-name"> airtoncbr </span>
				<span class="player-level"> Lvl. 27 </span>
			</div>
		</div>

		<div class="player player-2" ng-if="false">
			<img class="player-image" src="./assets/images/bbagins.png"><!-- Inline block issue
			--><div class="player-info">
				<span class="player-name"> bbagins </span>
				<span class="player-level"> Lvl. 99+ </span>
			</div>
		</div>
	</aside>

	<aside class="team-two" ng-if="false">

		<div class="team-info">
			<span class="team-name"> The New Fellowship </span>
			<span class="team-score"> 32768 </span>
		</div>

		<div class="player player-1">
			<div class="player-info">
				<span class="player-name"> airtoncbr </span>
				<span class="player-level"> Lvl. 27 </span>
			</div><!-- Inline-block issue
			--><img class="player-image" src="./assets/images/airtoncbr.png">
		</div>

		<div class="player player-2">
			<div class="player-info">
				<span class="player-name"> bbagins </span>
				<span class="player-level"> Lvl. 99+ </span>
			</div><!-- Inline-block issue
			--><img class="player-image" src="./assets/images/bbagins.png">
		</div>
	</aside>

	<main ng-if="gameCtrl.currentQuestion">
		<div class="timer"> 00:05 </div>

		<div class="question-text" ng-cloak>
			{{gameCtrl.currentQuestion.description}}
			<code class="question-code" ng-if="gameCtrl.currentQuestion.code" ng-bind="gameCtrl.currentQuestion.code"></code>
		</div>

		<div class="question-options">
			<button ng-repeat="option in gameCtrl.currentQuestion.options" ng-bind="option" ng-click="gameCtrl.sendAnswer(option);" ng-disabled="!gameCtrl.pendingAnswer"></button>
		</div>

		<!-- TO REFACTORY THIS FUCKING SHIT -->
		<div ng-if="gameCtrl.currentResponse">
			<span ng-bind="gameCtrl.currentResponse.message" ng-class="{'success': gameCtrl.currentResponse.success, 'error': !gameCtrl.currentResponse.success}"></span>
			<button ng-click="gameCtrl.nextQuestion();">Next question</button>
		</div>

	</main>

</section>