<section ng-controller="GameController as gameCtrl">

	<header> The Wisest Game </header>

	<span data-ng-include="'/modules/main/template/sidebar.html'"></span>

	<main ng-if="gameCtrl.currentQuestion">
		<div class="timer" ng-bind="gameCtrl.getTimerValue()"></div>

		<div class="question-text" ng-cloak>
			{{gameCtrl.currentQuestion.description}}
			<code
				class="question-code"
				ng-if="gameCtrl.currentQuestion.code"
				ng-bind="gameCtrl.currentQuestion.code"
			></code>
		</div>

		<div class="question-options">
			<button
				ng-repeat="option in gameCtrl.currentQuestion.options"
				ng-bind="option"
				ng-class="{
					'right':  gameCtrl.currentResponse && gameCtrl.currentResponse.message == option,
					'wrong':  gameCtrl.currentResponse && gameCtrl.currentResponse.message != option && gameCtrl.selectedOption == option,
				}"
				ng-click="gameCtrl.sendAnswer(option);"
				ng-disabled="!gameCtrl.pendingAnswer"
			></button>
		</div>

		<div
			class="answer-highlight {{gameCtrl.answerHighlightClass}}"
			ng-bind="gameCtrl.answerHighlight"
		></div>

		<!-- TO REFACTORY -->
		 <!-- <div class="question-options" ng-if="gameCtrl.currentResponse">
			<span
				ng-bind="gameCtrl.currentResponse.message"
				ng-class="{
					'success': gameCtrl.currentResponse.success,
					'error': !gameCtrl.currentResponse.success
				}"></span>
			<button ng-click="gameCtrl.nextQuestion();"> Next question </button>
		</div> -->

	</main>

</section>