<section class="login dashboard start-game" ng-controller="StartGameController as startGameCtrl">
	<span data-ng-include="'/modules/main/template/sidebar.html'"></span>
	<form class="login-form">
		<header class="dashboard-header start-menu-header"> The Wisest Game </header>

		<div class="mode-selection" ng-show="!selectedMode" game-tab-helper>
			<span class="hint-text"> Select the game mode </span>
			<button
				game-tab
				class="dashboard-button"
				ng-bind="mode.name"
				ng-repeat="mode in startGameCtrl.modes"
				ng-click="startGameCtrl.chooseMode(mode)"
			></button>
			<button game-tab class="dashboard-button back-button" game-back-button> << back </button>
		</div>

		<div class="theme-selection" ng-if="selectedMode && !selectedTheme" game-tab-helper>
			<span class="hint-text"> Select the question themes </span>
			<button
				class="dashboard-button"
				ng-bind="theme.name"
				game-tab
				ng-repeat="theme in startGameCtrl.themes"
				ng-click="startGameCtrl.chooseTheme(theme)"
			></button>
			<button game-tab class="dashboard-button back-button" ng-click="startGameCtrl.backToMode()"> << back </button>
		</div>

		<div class="theme-selection" ng-if="selectedMode && selectedTheme" game-tab-helper>
			<span class="hint-text"> Select the question themes </span>
			<button game-tab class="dashboard-button start-button animated infinite tada" ng-click="startGameCtrl.startGame()"> Start Game </button>
			<button game-tab class="dashboard-button back-button" ng-click="startGameCtrl.backToTheme()"> << back </button>
		</div>

	</form>
</section>