<section ng-controller="VersusGameController as versusGameCtrl">

	<header> The Wisest Game </header>

	<div ng-if="!versusGameCtrl.waitingForPlayers">
		<aside class="team-one">

			<div class="team-info">
				<span class="team-name"> Score </span>
				<span class="team-score" ng-bind="versusGameCtrl.playerOne.score || '0'"></span>
			</div>

			<div class="player player-1">
				<div class='player-image' data-ng-if='!versusGameCtrl.playerOne.icon'>		
				</div>
				<img data-ng-if='versusGameCtrl.playerOne.icon' class="player-image" ng-src='{{"data:image/png;base64,"+versusGameCtrl.playerOne.icon}}'>
				<!-- Inline block issue-->
				<div class="player-info">
					<span class="player-name" data-ng-bind='versusGameCtrl.playerOne.first_name'></span>
					<span class="player-level" data-ng-bind='versusGameCtrl.playerOne.level.name'></span>
					<div class="level-bar">
						<div class="xp-text" ng-cloak>( {{versusGameCtrl.playerOne.level.score}} / {{versusGameCtrl.playerOne.level.next_level}}) XP</div>
						<div class="needed-xp"></div>
						<div class="current-xp" style="width : {{ (versusGameCtrl.playerOne.level.currentPercent || 0)}}%"></div>
					</div>				
				</div>
			</div>
		</aside>

		<aside class="team-two">
			<div class="team-info">
				<span class="team-name"> Score </span>
				<span class="team-score" ng-bind="versusGameCtrl.playerTwo.score || '0'"> </span>
			</div>

			<div class="player player-1">
				<div class="player-info">
					<span class="player-name" data-ng-bind='versusGameCtrl.playerTwo.first_name'></span>
					<span class="player-level" data-ng-bind='versusGameCtrl.playerTwo.level.name'></span>
					<div class="level-bar">
						<div class="xp-text" ng-cloak>( {{versusGameCtrl.playerTwo.level.score}} / {{versusGameCtrl.playerTwo.level.next_level}}) XP</div>
						<div class="needed-xp"></div>
						<div class="current-xp" style="width : {{ (versusGameCtrl.playerTwo.level.currentPercent || 0)}}%"></div>
					</div>
				</div><!-- Inline-block issue
				--><img data-ng-if='versusGameCtrl.playerTwo.icon' class="player-image" ng-src='{{"data:image/png;base64,"+versusGameCtrl.playerTwo.icon}}'>
			</div>
		</aside>

		<main ng-if="versusGameCtrl.currentQuestion">
			<div class="timer" ng-bind="versusGameCtrl.getTimerValue()"></div>

			<div class="question-text" ng-cloak>
				{{versusGameCtrl.currentQuestion.description}}
				<code
					class="question-code"
					ng-if="versusGameCtrl.currentQuestion.code"
					ng-bind="versusGameCtrl.currentQuestion.code"
				></code>
			</div>

			<div class="question-options" ng-if="!versusGameCtrl.currentResponse">
				<button
					ng-repeat="option in versusGameCtrl.currentQuestion.options"
					ng-bind="option"
					ng-click="versusGameCtrl.sendAnswer(option);"
					ng-disabled="!versusGameCtrl.pendingAnswer"
				></button>
			</div>

			<!-- TO REFACTORY -->
			<div class="question-options" ng-if="versusGameCtrl.currentResponse">
				<span
					ng-bind="versusGameCtrl.currentResponse.message"
					ng-class="{
						'success': versusGameCtrl.currentResponse.success,
						'error': !versusGameCtrl.currentResponse.success
					}"></span>
				<button ng-click="versusGameCtrl.nextQuestion();"> Next question </button>
			</div>
		</main>
	</div>

	<div ng-if="versusversusGameCtrl.waitingForPlayers">
		<div class="question-text">Waiting for your opponent </div>
	</div>

</section>