<section class="login" ng-controller="LoginController as loginCtrl">
	 <form class="login-form">

		<header class="login-header"> The Wisest Game </header>

		<div class="login-field" game-login-field>
			<label>Email</label>
			<input
				type="text"
				name="email"
				ng-model="loginCtrl.userContext.email"
				autocomplete="off">
		</div>

		<br>

		<div class="login-field" game-login-field>
			<label> Password </label>
			<input
				type="password"
				name="password"
				ng-model="loginCtrl.userContext.password">
		</div>

		<br>

		<button class="login-button" ng-click="loginCtrl.login();" >Sign In</button>
		<button class="forgot-button" ng-click="loginCtrl.login();" >Forgot Password?</button>

	</form>
</section>
