<section class="login dashboard" ng-controller="DashboardController as dashboadCtrl">
	<span data-ng-include="'/modules/main/template/sidebar.html'"></span>
	<form class="login-form">
		<header class="dashboard-header"> The Wisest Game </header>

		<button class="dashboard-button" data-ng-click='dashboadCtrl.startGame()'> Start	</button>
		<button class="dashboard-button"> Ranking </button>
		<button class="dashboard-button" > Options </button>
		<button class="dashboard-button logout-button" data-ng-click='dashboadCtrl.logOut()'> Log Out </button>
	</form>
</section>
